* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.daohang {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 100px;
    font-size: 38px;
    text-align: center;
}

.daohang .daohang_link {
    margin-top: 50px;
    display: flex;
    width: 240px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px;
    background-color: rgb(219, 43, 43);
    box-shadow: 12px 12px 12px #000;
}

.daohang_link a {
    margin: 50px auto;
    color: #fff;
}

.daohang_link a:hover {
    color: rgb(216, 199, 48);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.text_content {
    width: 1200px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding-left: 350px;
}

.title {
    margin-top: 100px;
    font-size: 2em;
    color: red;
    font-family: '楷体';
}

.title span {
    font-size: 2em;
}

.text {
    width: 614px;
    float: left;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    padding: 0px 40px 20px 50px;
    overflow: hidden;
}

.text .justify {
    margin: 20px auto;
}
